body{
    background-color: hsl(0, 0%, 85%);
    text-align: center;
}
#content{
    font-size: 1.15em;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 60%;
    margin: auto;
    box-shadow: 10px 10px 70px hsl(0, 0%, 55%);
}
.label{
    cursor: pointer;
    margin: 5px;
    font-size: 1.15em;
}

#textbox{
    margin-bottom: 15px;
    text-align: center;
}
#submit{
    margin-top: 30px;
    font-size: 1.15em;
}